.backgroundBodyContact {
  background-image: linear-gradient(to bottom, white, grey);
  height: 100vh;
  display: flex;
  align-items: center;
}

#contactFormulaire {
  background-color: #f76c6c;
  margin: auto;
  height: 550px;
  color: white;
  font-weight: bold;
}

.form-group {
  margin: 25px auto;
}

