/* Initialisation du CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------  POLICE BODY  --------------------*/

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

/* ---------------  DARKMODE  --------------------*/
.dark-mode {
  background-color: black;
  color: white;
}

/* ---------------  HEAD  --------------------*/

.sticky-top {
  width: 100%;
  height: 200px;
  background-color: rgb(244, 113, 115);
}
/* .menu-burger {
  background-color:  #f47173;
} */

/* menu déroulant*/
.sous-menu {
  display: none;
  list-style: none;
  background-color: white;
  text-align: center;
  font-size: 50px;
  position: relative;
  width: 70%;
  height: 50vh;
  padding-top: 100px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 4mm ridge rgb(244, 113, 115);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.4);
}
.sous-menu li {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 125px;
  margin-right: 125px;
  text-emphasis: none;
  border-top: 1px solid black;
  padding: 50px;
}

.sous-menu li a {
  text-decoration: none;
  color: black;
}
.link1:hover {
  background-color: #f9d10f;
  font-weight: 800;
}
.link2:hover {
  background-color: #3b4d61;
  font-weight: 800;
}
.link3:hover {
  background-color: #ff6e40;
  font-weight: 800;
}
.link4:hover {
  background-color: #ed3572;
  font-weight: 800;
}

/*----------------------------------------------------*/
.burger {
  /*position: relative;
  width: 50px;
  height: 24px;*/
  cursor: pointer;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger span{
  width: 50px;



  height: 7px;
  background-color: black;
  display: block;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
  padding-right: 50px;
}

.burger span::before,
.burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: black;
  transition: transform 0.5s ease-in-out;
}

.burger span::before {
  transform: translateY(-10px);
}

.burger span::after {
  transform: translateY(10px);
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

/*  ------------------------------------------------  */
.visible {
  display: block;
}
.btn {
  width: 20%;
  height: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 113, 115);
}

/* logo WCS */
.logo {
  display: block;
  position: absolute;
  top: 0;
  margin-left: 35%;
}
.logo img {
  height: 200px;
}
/* bouton toggle*/
.bouton-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 80px;
  margin-right: 100px;
}

/* .card-img-top {
  width: 100%;
} */

/* ---------------  FORMULAIRE AJOUT CONTENU  --------------------*/

.formInstance {
  display: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c9c1c4;
}

.textarea {
  width: 80%;
  height: 100px;
}

.formInstance p {
  background-color: #dbd7d9;
  text-align: center;
}
.card-body h5,
p {
  background-color: rgb(212, 209, 209);
  text-align: center;
  color: black;
  text-shadow: 0 0 2px white;
  padding: 10px;
}

.btnAddContenu1,
.btnAddContenu2,
.btnAddContenu3,
.subBtn {
  background-color: white;
  padding: 10px;
  border: 2px solid grey;
  text-align: center;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnAddContenu1:hover,
.btnAddContenu2:hover,
.btnAddContenu3:hover,
.subBtn:hover {
  cursor: pointer;
  background-color: rgb(244, 113, 115);
  color: white;
}
.addContenu {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin: 5px;
}

/* ----------------------------------------------------- */

/* ---------------  FOOTER  --------------------*/
.main_footer {
  background-color: #f47173;
}
.top_footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.fa {
  color: white;
}
.top_footer ul {
  display: flex;
  justify-content: space-evenly;
}
.top_footer ul li {
  list-style: none;
}
.top_footer ul li a {
  font-size: 5vh;
  text-decoration: none;
}
.bottom_footer img {
  max-height: 80px;
}
.bottom_footer {
  text-align: center;
  padding-bottom: 10px;
}

/* ----------css About us ---------------------------- */
:root {
  --primary-color: #f1f1f1;

  --shadow-one: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  --shadow-two: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  --shadow-three: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card {
  transition: 0.5s ease-in-out;
  background-color: var(--primary-color);

  cursor: pointer;
}

.card:hover {
  transition: 0.2s ease-in-out;
  transform: scale(0.9);
  -webkit-box-shadow: var(--shadow-one);
  -moz-box-shadow: var(--shadow-two);
  box-shadow: var(--shadow-three);
}

/* css About */
