.main_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  background-color: #ffffff;
}

.fa {
  color: #f76c6c;
  text-decoration: none;
}
li {
  color: #f76c6c;
  list-style: none;
  font-size: 50px;
  display: inline-block;
}
li:hover {
  background-color: #f76c6c;
}
.img_footer {
  height: 50px;
}
